@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    font-family: var(--fonte_normal);
}

:root{
    --cor-branca: white;
    --fonte_normal: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-size: 1.4em;
    width: 65vw;
}

nav > h4{
    color: white;
}

.flex-container {
    display: flex;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--cor-branca);
}

main#index{
    margin: 40px 0;
}

main > section.secao1{
    width: 70vw;
    height: 100vh;
}

main > section > article{
    padding: 30px;
}

main > section > article > p{
    padding: 7px;
}

main > section > article > h4{
    margin-bottom: 10px;
    margin-top: 10px;
}

main > section.secao2{
    width: 25vw;
    height: 100vh;
    padding: 35px;
}

.video > iframe{
    margin-top: 35px;
}

footer{
    background-color: #17A2B8;
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: 500;
}