@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    font-family: var(--fonte_normal);
}

:root{
    --cor-branca: white;
    --fonte_normal: Verdana, Geneva, Tahoma, sans-serif;
    --cor_borda: rgb(145, 145, 145);
    --cor_extremos: #3981B3;
    --destacar: #140B17;
}

#jogabilidade{
    background-image: url(img/logo_avg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    color: var(--cor-branca);
}

#sobre{
    background-image: url(img/ironman_manopla.jpg);
    background-size: cover;
    background-position: center;

    color: var(--cor-branca);
    font-weight: 400;
}

#index{
    background-image: url(img/avengers_capa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#index ul li a{
    color: white;
}

#index ul li a:hover{
    color: #3980b3b6;
}

.itens{
    border: 1px solid var(--cor_borda);
    border-radius: 10px;
    padding: 10px;
    background-color: #3980b3b6;
    opacity: 1;
}

h1{
    font-size: 1.4em;
    width: 65vw;
}

nav > h4{
    color: var(--cor-branca);
}

.flex-container {
    display: flex;
}


header{
    background-color: var(--cor_extremos);
}

header > nav > ul > li > a {
    text-decoration: none;
    color: var(--cor-branca);
}

main#jogabilidade{
    margin: 40px 0;
}

main#index{
    padding: 70px 0;
}

main > section.secao1{
    width: 70vw;
    height: 100vh;
}

main > section > article{
    padding: 30px;
}

main > section > article > p{
    padding: 7px;
}

main > section > article > h4{
    margin-bottom: 10px;
    margin-top: 10px;
}

main > section.secao2{
    width: 25vw;
    height: 100vh;
    padding: 35px;
}

.video > iframe{
    margin-top: 35px;
}

footer{
    background-color: var(--cor_extremos);
    text-align: center;
    padding: 10px;
    margin-top: 100px;
    color: white;
    font-weight: 500;
}